<ng-container *ngIf="{ val: network$ | async } as network">
  <header *ngIf="headerVisible" class="sticky-header container-xl">

    <nav class="navbar navbar-expand-md navbar-dark">
      <div
        class="navbar__logo"
        style="display: flex"
        [class.navbar__logo-open]="isInputFocused"
      >
        <a href="https://apirone.com">
          <app-apr-logo></app-apr-logo>
        </a><a class="navbar__link-explorer" routerLink="/"><sup>Explorer</sup></a>
      </div>
      <app-search-form [class.search-form-container-open]="isInputFocused" (inputFocused)="handleInputFocus($event)" *ngIf="!isMasterPage()" [hamburgerOpen]="enterpriseInfo === null && user != null"
                       class="search-form-container" location="top" (searchTriggered)="collapse()"></app-search-form>
    </nav>
    <app-menu *ngIf="servicesEnabled" [navOpen]="menuOpen" (loggedOut)="onLoggedOut()"
              (menuToggled)="menuToggled($event)"></app-menu>
  </header>

  <div class="d-flex" style="overflow: clip">
    <div class="empty-sidenav"><!-- empty sidenav needed to push footer down the screen --></div>

    <div class="flex-grow-1 d-flex flex-column">
      <app-testnet-alert
        *ngIf="network.val === 'testnet' || network.val === 'testnet4' || network.val === 'signet'"></app-testnet-alert>

      <main style="min-width: 375px; max-width: 100vw; margin-bottom: 120px;">
        <div *ngIf="isMasterPage()" class="master-page__main">
          <h1>Bitcoin Explorer</h1>
          <p>Real-time Blockchain Transaction Tracking via Apirone</p>
          <app-search-form class="search-form-container" location="top"></app-search-form>
        </div>
        <router-outlet></router-outlet>
      </main>

      <div class="flex-grow-1"></div>
      <app-global-footer *ngIf="footerVisible"></app-global-footer>
    </div>
  </div>

</ng-container>
